In [4]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/Colab Notebooks/Machine-Learning-Project

Mounted at /content/drive
/content/drive/MyDrive/Colab Notebooks/Machine-Learning-Project

In [128]:
import pandas as pd

eppes_clean = pd.read_csv('eppes_clean.csv')

eppes_clean = eppes_clean.drop(eppes_clean.columns[0], axis = 1)

eppes_clean

,q1.1,q1.2,q1.3,q1.4,q1.5,q1.6,q1.7,q1.8,q1.9,q1.10,...,d43a,d43b,d46.8,d60,d62_1,d62_2,d63,d72_1,d72_2,d77
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,3.0,6.0,1.0,3.0,3.0,2.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,2.0,6.0,3.0,2.0,2.0,3.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,1.0,1.0,1.0,5.0,2.0,2.0,2.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,2.0,1.0,1.0,3.0,2.0,2.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,2.0,1.0,1.0,1.0,1.0,5.0,2.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,3.0
12183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,2.0,1.0,1.0,3.0,2.0,2.0,2.0
12184,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,2.0,6.0,6.0,3.0,3.0,2.0,3.0
12185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,2.0,6.0,1.0,3.0,3.0,2.0,3.0
12186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,2.0,1.0,1.0,3.0,2.0,2.0,2.0

In [118]:
# for test purposes: reduce to first 500 rows

eppes_clean = eppes_clean[:12000]
len(eppes_clean)

12000

In [119]:
# Define X and y

print(eppes_clean.head())

X = eppes_clean.drop(columns='qg1') # reference variable which contains voted y/n
y = eppes_clean['qg1'] # reference variable which contains voted y/n

# 80/20 train-test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20)

   q1.1  q1.2  q1.3  q1.4  q1.5  q1.6  q1.7  q1.8  q1.9  q1.10  ...  d43a  \
0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   2.0
1   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   2.0
2   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   2.0
3   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0  ...   1.0
4   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0    0.0  ...   2.0

   d43b  d46.8  d60  d62_1  d62_2  d63  d72_1  d72_2  d77
0   1.0    1.0  1.0    3.0    6.0  1.0    3.0    3.0  2.0
1   1.0    1.0  3.0    2.0    6.0  3.0    2.0    2.0  3.0
2   2.0    1.0  1.0    1.0    5.0  2.0    2.0    2.0  1.0
3   1.0    1.0  2.0    1.0    1.0  3.0    2.0    2.0  1.0
4   1.0    1.0  1.0    1.0    5.0  2.0    2.0    2.0  3.0

[5 rows x 291 columns]

In [121]:
X_train
y_train

3761    2.0
1027    1.0
4509    1.0
580     1.0
5630    1.0
       ...
7005    2.0
9716    2.0
5079    1.0
978     1.0
4911    2.0
Name: qg1, Length: 9600, dtype: float64

In [120]:
# pre-processing pipeline

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression

# identify all numeric variables by data type
numeric_X_features = X_train.select_dtypes(include=['int64', 'float64']).columns

# identify all categorical variables by data type
categorical_X_features = X_train.select_dtypes(include=['object', 'bool']).columns

numeric_transformer = Pipeline(
    steps=[("scaler", StandardScaler())] # tbd whether we need this, likely no, any other transformer?
)

categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_X_features),
        ("cat", categorical_transformer, categorical_X_features),
    ]
)

In [ ]:
X_train

,q1.1,q1.2,q1.3,q1.4,q1.5,q1.6,q1.7,q1.8,q1.9,q1.10,...,d43a,d43b,d46.8,d60,d62_1,d62_2,d63,d72_1,d72_2,d77
7556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,3.0,6.0,2.0,3.0,1.0,2.0
550,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,2.0,2.0,1.0,3.0,1.0,1.0,3.0
126,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,1.0,3.0,1.0,1.0,2.0
5918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,1.0,3.0,2.0,1.0,4.0
6634,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,3.0,2.0,6.0,1.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,1.0,3.0,1.0,1.0,2.0
999,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,3.0,1.0,6.0,3.0,2.0,1.0,3.0
9973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,2.0,1.0,3.0,3.0,3.0,3.0,2.0
3007,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0
11803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1.0,2.0

**Model 1 (Baseline): Logistic Regression**

In [42]:
# define logistic regression model

logistic_regression_pipe = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression())]
)

In [43]:
# hypertune parameters

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression

# define parameters to be optimised, based on handbook and different online articles
solvers = ['newton-cg', 'lbfgs', 'liblinear']
penalty = ['l2']
c_values = [100, 10, 1.0, 0.1, 0.01]

# fit model
grid = {
    'classifier__solver':solvers, 
    'classifier__penalty':penalty,
    'classifier__C':c_values}

# set-up for cross-validation 
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# tbd which metric for comparison, currently still set to accuracy
grid_search = GridSearchCV(estimator=logistic_regression_pipe, param_grid=grid, n_jobs=-1, cv=cv, scoring='f1',error_score=0)

# fit the grid search model
grid_result = grid_search.fit(X_train, y_train)

# print the mean test scrore (currently accuracy), sd and the params that were used
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

# document best params as vector

from joblib import dump, load

estimator = grid_result.best_estimator_
dump(estimator, "best-logistic-regression.joblib")

Best: 0.942809 using {'classifier__C': 0.1, 'classifier__penalty': 'l2', 'classifier__solver': 'newton-cg'}
0.933257 (0.022423) with: {'classifier__C': 100, 'classifier__penalty': 'l2', 'classifier__solver': 'newton-cg'}
0.933257 (0.022423) with: {'classifier__C': 100, 'classifier__penalty': 'l2', 'classifier__solver': 'lbfgs'}
0.929596 (0.033005) with: {'classifier__C': 100, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear'}
0.935842 (0.021920) with: {'classifier__C': 10, 'classifier__penalty': 'l2', 'classifier__solver': 'newton-cg'}
0.935842 (0.021920) with: {'classifier__C': 10, 'classifier__penalty': 'l2', 'classifier__solver': 'lbfgs'}
0.931598 (0.033451) with: {'classifier__C': 10, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear'}
0.938105 (0.018802) with: {'classifier__C': 1.0, 'classifier__penalty': 'l2', 'classifier__solver': 'newton-cg'}
0.938105 (0.018802) with: {'classifier__C': 1.0, 'classifier__penalty': 'l2', 'classifier__solver': 'lbfgs'}
0.934424 (0.030550) with: {'classifier__C': 1.0, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear'}
0.942809 (0.017650) with: {'classifier__C': 0.1, 'classifier__penalty': 'l2', 'classifier__solver': 'newton-cg'}
0.942809 (0.017650) with: {'classifier__C': 0.1, 'classifier__penalty': 'l2', 'classifier__solver': 'lbfgs'}
0.942778 (0.023864) with: {'classifier__C': 0.1, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear'}
0.939047 (0.011591) with: {'classifier__C': 0.01, 'classifier__penalty': 'l2', 'classifier__solver': 'newton-cg'}
0.939047 (0.011591) with: {'classifier__C': 0.01, 'classifier__penalty': 'l2', 'classifier__solver': 'lbfgs'}
0.939910 (0.023798) with: {'classifier__C': 0.01, 'classifier__penalty': 'l2', 'classifier__solver': 'liblinear'}

['best-logistic-regression.joblib']

In [46]:
from sklearn.metrics import classification_report

best_logistic_regression = load("best-logistic-regression.joblib")
best_logistic_regression.fit(X_train, y_train)

y_pred = best_logistic_regression.predict(X_train)

print(y_pred)

print(classification_report(y_train, y_pred))

[1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 2. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 2.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1.
 1. 1. 1. 1. 1. 1. 2. 1. 1. 2. 2. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 1. 2. 1. 1. 1. 2. 1. 2. 1. 1. 1. 1.
 1. 1. 1. 1. 2. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 2. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 2. 1. 2. 1. 1. 1. 2. 1. 1. 1. 1. 1. 2. 2. 1. 1. 2.
 2. 1. 1. 2. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00       349
         2.0       1.00      0.98      0.99        51

    accuracy                           1.00       400
   macro avg       1.00      0.99      0.99       400
weighted avg       1.00      1.00      1.00       400

**Model 2: Naive Bayesian**

In [ ]:
# identify all numeric variables by data type
numeric_X_features = X_train.select_dtypes(include=['int64', 'float64']).columns

# identify all categorical variables by data type
categorical_X_features = X_train.select_dtypes(include=['object', 'bool']).columns

In [125]:
### Define transformers

# numeric_transformer = MinMaxScaler() # no transformation for numeric data
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(remainder = 'passthrough', # passthrough so numeric columns are not dropped
    transformers=[("cat", categorical_transformer, categorical_X_features)])

In [126]:
# CategoricalNB seems most suitable as it assumes categorical distribution (there seems not explicit solution for ordinal features). 
# Alternatives are less relevant, e.g. Gaussian NB is for continuous and Bernoulli for binary

from sklearn.naive_bayes import CategoricalNB

### Set up the pipeline
naive_bayes_pipe = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", CategoricalNB())]
)

In [127]:
### Fit and predict the model

naive_bayes_pipe.fit(X_train, y_train)
y_pred_bayes = naive_bayes_pipe.predict(X_train)

In [116]:
### Assess the model performance

# print classificarion statistics
print(classification_report(y_train, y_pred_bayes)) 

### Examine frequencies in y (predicted and actual training y)
y_pred_df = pd.DataFrame(y_pred)
print("Frequency in y train:", "\n", y_train.value_counts(normalize=True), "\n")
print("Frequency in naive bayes prediction:", "\n",y_pred_df.value_counts(normalize=True))

              precision    recall  f1-score   support

         1.0       0.82      0.73      0.77      2926
         2.0       0.44      0.56      0.49      1074

    accuracy                           0.69      4000
   macro avg       0.63      0.65      0.63      4000
weighted avg       0.72      0.69      0.70      4000

Frequency in y train:
 1.0    0.7315
2.0    0.2685
Name: qg1, dtype: float64

Frequency in naive bayes prediction:
 1.0    0.86
2.0    0.14
dtype: float64

In [64]:
dataset = pd.DataFrame(y_pred)
dataset

       0
0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
..   ...
395  2.0
396  2.0
397  1.0
398  2.0
399  2.0

[400 rows x 1 columns]